// imports
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Great+Vibes&display=swap");

// colores principales
$primary-color: #0c2f23;
$secondary-color: #fff1e1;

// colores preestablecidos
$white: #ffffff;
$black: #000;

// fonts
$formal-font: "Faustina", serif;
$cursive-formal-font: "Great Vibes", cursive;
