@import "../variables";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: $primary-color;
  border-bottom: 1px solid #ddd;
  height: 6.5rem;

  h1 {
    color: $secondary-color;
    font-family: "Great Vibes";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .button-link {
    text-decoration: none; /* Removes the underline */
  }

  #categories {
    font-family: "Faustina";
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    color: $white;
    border: 0;
  }
  #categories option {
    color: black;
    background-color: $white;
  }
  .navbar-search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    input {
      font-family: "Faustina";
      padding: 5px 25rem;
      font-size: 22px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      height: 40px;
    }
  }

  .navbar-buttons {
    display: flex;

    button {
      font-family: "Faustina";
      margin-left: 10px;
      padding: 5px 10px;
      font-size: 16px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      background-color: $primary-color;
      color: $secondary-color;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  /* Media queries for responsiveness */
  @media (max-width: 1200px) {
    .navbar-search input {
      padding: 5px 15rem;
      font-size: 20px;
    }
  }

  @media (max-width: 992px) {
    padding: 0px 20px;

    h1 {
      font-size: 40px;
    }

    .navbar-search input {
      padding: 5px 10rem;
      font-size: 18px;
    }

    #categories {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;

    .navbar-search {
      width: 100%;
      margin-top: 10px;

      input {
        width: 100%;
        padding: 5px;
        font-size: 16px;
      }
    }

    .navbar-buttons {
      width: 100%;
      margin-top: 10px;
      justify-content: center;

      button {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 30px;
    }

    #categories {
      font-size: 14px;
    }

    .navbar-search input {
      font-size: 14px;
    }

    /* Optional: Convert buttons to a hamburger menu */
    .navbar-buttons {
      display: none; /* Hide buttons on small screens */

      /* Show menu button for small screens */
      &.menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: $secondary-color;
      }
    }
  }
}
